<!DOCTYPE html>
<html>
    <head>
        <title>Bad Gateway</title>
        <style>
            body {
                font-family: sans-serif;
            }
            .footer {
                color: #aaa;
                border-top: 1px solid #aaa;
                padding: 5px 0 0 0;
                margin: 20px 0 0 0;
                font-size: 70%;
            }
        </style>
    </head>
    <body>
        <h1>Bad Gateway</h1>
        <p>Unable to contact backend service. Please try again later.</p>
        <div class="footer">Powered by router</div>
    </body>
</html>
